.header {
	height: 400px;
	background: #303030;
	background-image: url(/images/background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;

	.contents {
		font-family: 'Courier New', Courier, monospace;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;

		.info {
			font-size: 36px;
			font-weight: 900;
			color: #ebebebfc;
			width: 800px;
			text-transform: capitalize;
			background: rgb(0 0 0 / 37%);
			padding: 40px;
			border-radius: 30px;
			z-index: 9999;
			.name {
				color: #fb0089;
			}
		}
	}
}
